@import url('https://fonts.googleapis.com/css?family=Dokdo');

#logpage {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logmessage {
    color:white;
    font-family: 'Dokdo';
    font-size: 25px;
}

form {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1.8px white;
    padding: 8px;
    margin: 10px;
}
.userpass {
    background-color: white;
    border-radius: 10px;
    border: solid 1.5px red;
    margin: 5px;
    padding: 5px;
}

.logreg {
    color:white;
    border-radius: 15px;
    border: solid 1.2px white;
    margin: 5px;
    padding: 5px;
}

.sublog {
    border: none;
    color:white;
    margin:5px;
}



