@import url('https://fonts.googleapis.com/css?family=Dokdo');

#load {
    color: white;
    text-align: center;
    font-size: large;
}

#postbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#newposttitle {
    color:white;
    font-family: 'Dokdo';
    text-align: center;
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#newpost {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1.8px white;
    padding: 8px;
    margin: 10px;
}

.postfields {
    background-color: white;
    border-radius: 10px;
    border: solid 1.5px red;
    margin: 5px;
    padding: 5px;
}

.title {
    font-size: 15px;
}

#descript {
    height: 70px;
    overflow: auto;
}

label {
    text-align: center;
    color:white;
}

#submit {
    color:white;
    border-radius: 15px;
    border: solid 1.2px white;
    margin: 5px;
    padding: 5px;
}

.post {
    flex-basis: auto;
    width: 300px;
    height: 300px;
    border: 2.5px solid #b00600;
    background-color: white;
    border-radius: 15px;
    margin: 1.2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.post > * {
    text-align: center;
    flex-basis: auto;
    margin:1.5px;
    background-color: white;
}

.price {
    color: #025c18;
    font-size: 20px;
    font-family:'Luckiest Guy', 'Permanent Marker';
}

.ID {
    font-weight: normal;
}

.descript {
    overflow: auto;
    height: 70px;
    width: 275px;
    margin:2px;
    border: 2px solid black;
}

#newmessage {
    margin: 0px;
    padding: 1px;
    border: .5px;
}

.messageauthor {
    overflow: auto;
    height: 50px;
    width: 275px;
    margin:2px;
    border: 2px solid black;
    color:white;
}

.send {
    color: white;
    border-radius: 15px;
    border: solid 1.2px red;
    margin: 5px;
    padding: 5px;
}

.send:hover {
    color:red;
    background-color: white;
}

.delete {
    color:red;
    border-radius: 15px;
    border: solid 1.2px black;
    margin: 3px;
    padding: 5px;
}

.delete:hover {
    background-color: #b00600;
    color:white;
}

#mypostmessages {
    color:black;
    text-decoration: none;
    border-radius: 15px;
    border: solid 1.2px black;
    margin: 3px;
    padding: 5px;
}

#mypostmessages:hover {
    background-color: black;
    border:solid 1.2px red;
    color:white;
}


